html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  ========================================
  Сетка
  ========================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container,
.grid {
    margin: 0 auto;
    width: 960px;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

.grid,
.col-1-3,
.col-2-3 {
    padding-left: 15px;
    padding-right: 15px;
}

.col-1-3,
.col-2-3 {
    display: inline-block;
    vertical-align: top;
}

.col-1-3 {
    width: 33.33%;
}

.col-2-3 {
    width: 66.66%;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}

/*
  ========================================
  Полосы 
  ========================================
*/

.row {
    background: #fff;
    min-width: 960px;
    padding: 66px 0 44px 0;
}

/*
  ========================================
  Типографика
  ========================================
*/

h1,
h3,
h4,
h5,
p {
    margin-bottom: 22px;
}

html {
    
}

/*
  ========================================
  Пользовательские стили
  ========================================
*/

body {
    color: #888;
    background: #293f50;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-family: "Roboto","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1,
h2,
h3,
h4 {
    color: #648880;
}

h1 {
    font-weight: 300;
    font-size: 33px;
    line-height: 44px;
}
h2 {
    font-weight: 300;
    font-size: 24px;
    line-height: 44px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}
h5 {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    font-variant: small-caps;
}
strong {
    font-weight: 400;
}
cite,
em {
    font-style: italic;
}
a {
    color: #648880;
}
a:hover {
    color: #a9b2b9;
}

.primary-footer a,
.primary-header a {
    color: white;
}

.primary-footer a:hover,
.primary-header a:hover {
    color: #648880;
}

.row,
.row-alt {
    min-width: 960px;
}

.row {
    background: #fff;
    padding: 66px 0 44px 0;
/*    width: 960px;*/
}

.row-alt {
    background: #cbe2c1;
    background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
}

/*
  ========================================
  Кнопки
  ========================================
*/

.btn {
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
}

.btn-alt {
    border: 1px solid #fff;
    padding: 10px 15px;
}
.btn-alt:hover {
    color: #648880;
    background: #fff;
    transition: .5s;
/*    transform: scale(1.1);*/
/*    font-weight: 600;*/
}

/*
  ========================================
  Основной заголовок
  ========================================
*/

.logo {
    margin-top: 4px;
/*    border-top: 2px double #648880;*/
    float: left;
    font-size: 48px;
    line-height: 44px;
    padding: 40px 0 22px 0;
    text-shadow: 3px 3px 3px rgba(0,0,0, .3);
    text-transform: uppercase;
    font-weight: 100;
}

/*
  ========================================
  Основной подвал
  ========================================
*/

.primary-footer {
    color: #648880;
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
}

.primary-footer small {
    float: left;
    font-weight: 400;
}

.primary-footer small {
    float: left;
}

.primary-footer nav {
    float: right;
}
/*
  ========================================
  Главная страница
  ========================================
*/

.hero {
    color: #fff;
    padding: 22px 80px 66px 80px;
    line-height: 44px;
    text-align: center;
    
}

.hero h2 {
    font-weight: 300;
    font-size: 36px;
}
.hero p {
    font-size: 24px;
    font-weight: 100;
}

.code {
    color: red;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    width:200px;
    height:80px;
    background: blue;
    position: absolute;
    top: 3px
}

.div {
    margin: 10px auto;
    width: 960px;
    height: 500px;
    background: green;
    position: relative;
}

.code2 {
    color: red;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    width:200px;
    height:80px;
    background: yellow;
    position: relative;
    left: 300px
}

.tagline {
    text-align: right;
    margin: 66px 0 22px 0px; 
}

.primary-nav {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-align: right
}

.teaser a:hover h3 {
    color: #a9b2b9;
}

.right-nav {
    text-align: right;
}

.maxwidth {
    max-width: 100px;
}



.lead {
    text-align: center;
}

*/
.lead p {
    font-size: 21px;
    line-height: 33px;
}
